body {
  height: 100%;
  margin: 0;
  background: transparent;
  overflow: hidden;
  background-size: cover;
}

.firefly {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: move 8s ease alternate infinite;
  pointer-events: none;
  filter: blur(2px);
}

.firefly::before,
.firefly::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
  filter: blur(3px);
}

.firefly::before {
  background: linear-gradient(to right, #ff4500, #ffa500);
  opacity: 0.8;
  animation: drift 10s ease alternate infinite;
}

.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 2vw 0.5vw yellow;
  animation: drift 10s ease alternate infinite, flash 6s infinite;
}

@keyframes move {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  25% {
    transform: translate(-50vw, -40vh) scale(0.8);
    opacity: 0.7;
  }

  50% {
    transform: translate(40vw, 30vh) scale(1.2);
    opacity: 1;
  }

  75% {
    transform: translate(-30vw, 40vh) scale(0.9);
    opacity: 0.6;
  }

  100% {
    transform: translate(50vw, -30vh) scale(1);
    opacity: 1;
  }
}

@keyframes drift {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {

  0%,
  30%,
  100% {
    opacity: 0;
    box-shadow: 0 0 0vw 0vw yellow;
  }

  5% {
    opacity: 1;
    box-shadow: 0 0 2vw 0.4vw yellow;
  }
}

/* Additional fireflies */
.firefly:nth-child(odd) {
  animation-duration: 6s;
}

.firefly:nth-child(even) {
  animation-duration: 10s;
}

.firefly:nth-child(3n) {
  animation-delay: 2s;
}

.firefly:nth-child(4n) {
  animation-delay: 4s;
}

/* Increasing number of fireflies */
.firefly:nth-child(n+21) {
  animation-duration: 12s;
  filter: blur(4px);
}

.firefly:nth-child(n+41) {
  animation-duration: 14s;
  filter: blur(5px);
}

.content {
  text-align: center;
  padding: 0px;
  margin: auto;
  max-width: 800px;

}

.content h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #000000;

}

.content h2 {
  font-size: 1.2rem;
  color: #000000;
  line-height: 1.5;
}

.home {
  padding: 0px;
}