html {
  scroll-behavior: smooth;
}

.App {
    text-align: center;
  }
  
  #particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  #particles {
    position: fixed;  /* Stays fixed in the background */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; /* Moves it behind all other content */
  }
  